<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <ul>
            <li v-for="list,idx in lists">{{idx}} / {{list}}</li>
        </ul>
        <ul>
            <li v-for="p,idx of products" :key="p.id">
                {{p.name}} - {{p.price}}
            </li>
        </ul>
    </div>
    <script>
        // Vue.createApp().mount('#main')

        let app = Vue.createApp({
            data(){
                return {
                    msg: 'hello vue',
                    title: 'HELLO',
                    lists:[
                        'list 1',
                        'list 2',
                        'list 3'
                    ],
                    products:[
                        {
                            id:1,
                            name:'iphon',
                            price: '28900'
                        },
                        {
                            id:2,
                            name:'ipad',
                            price:'32900'
                        }
                    ]
                }
            }
        })

        app.mount('#app');
    </script>
</body>
</html>