<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <form action="">
            <input type="text" v-model="input">
            <input type="submit" @click.prevent="add()">
        </form>
        <div>
            <h2>未完成</h2>
            <div v-for="todo in todoUnComplete" :key="todo.id">
                {{todo.name}} <input type="checkbox" v-model="todo.isCompleted">
            </div>
        </div>
        <div>
            <h2>已完成</h2>
            <div v-for="todo in todoComplete" :key="todo.id">
                {{todo.name}} <input type="checkbox" v-model="todo.isCompleted">
            </div>
        </div>
    
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input:'',
                    todos:[
                        {
                            id:1,
                            name:'todo 1',
                            isCompleted: true,
                        },
                        {
                            id:2,
                            name:'todo 2',
                            isCompleted: true,
                        },
                        {
                            id:3,
                            name:'todo 3',
                            isCompleted: false,
                        },
                    ]
                }
            },
            methods:{
                add(){
                    this.todos.push({
                        id:Date.now(),
                        name:this.input,
                        isCompleted:false
                    })
                    this.input = '';
                }
            },
            computed:{
                todoComplete(){
                    return this.todos.filter(data=>data.isCompleted === true)
                },
                todoUnComplete(){
                    return this.todos.filter(data=>data.isCompleted === false)
                }
            }
        }).mount('#app')
    </script>
</body>
</html>